@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");
* {
  margin: 0;
  padding: 0;
  border: none;
}

*, *:before, *:after {
  box-sizing: border-box;
}

a, a:link, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

aside, nav, footer, header, section, main {
  display: block;
}

h1, h2, h3, h4, h5, h6, p {
  font-size: inherit;
  font-weight: inherit;
}

ul, ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

img, svg {
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

/* Form */
input, textarea, button, select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

button, input[type=submit] {
  display: inline-block;
  box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

input:focus, input:active,
button:focus, button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

body, html {
  font-family: "DM Sans", sans-serif;
  background-color: #191919;
  color: #fff;
}

.container {
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 15px;
}

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 43px 0;
}

.nav-list {
  display: flex;
  gap: 40px;
}
.nav-list__el {
  font-size: 17px;
  color: #FFFFFF;
  transition: all 0.3s ease-in-out;
}
.nav-list__el:hover {
  color: #118DA8;
}

.level {
  margin-top: 40px;
}
.level-block {
  display: flex;
  gap: 60px;
  align-items: center;
}

.left-side {
  position: relative;
}

.left-side__img2 {
  position: absolute;
  top: -25px;
  left: -25px;
}

.right-text__h1 h1 {
  font-size: 70px;
  line-height: 1.2;
  letter-spacing: 0.1em;
}

.right-side {
  display: flex;
  flex-direction: column;
}

.right-text__h1 {
  margin-bottom: 85px;
}

.social {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.social-line {
  display: flex;
  gap: 17px;
}

.episodes {
  margin-top: 100px;
}
.episodes-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 60px;
}
.episodes-bottom {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 60px;
}

.episode-text__h2 {
  font-size: 64px;
  line-height: 0.79;
  letter-spacing: 0.12em;
}

.episode-button__btn {
  background-color: #118DA8;
  color: #fff;
  padding: 12px 15px;
  transition: all 0.3s ease-in-out;
  font-size: 17px;
  border-radius: 5px;
}
.episode-button__btn:hover {
  background-color: #0f778f;
}

.card {
  display: flex;
  gap: 55px;
  padding: 40px;
  background-color: #000000;
  border-radius: 32px;
}
.card-right {
  display: flex;
  flex-direction: column;
}
.card-right__category {
  font-size: 18px;
  padding: 0 16px;
  background-color: #191919;
  border-radius: 5px;
  max-width: 8.7%;
  margin-bottom: 48px;
}
.card-right__category_b {
  max-width: 20%;
}
.card-right__episode {
  font-size: 17px;
  color: #118DA8;
}
.card-text {
  margin-top: 17px;
}
.card-text__top {
  font-size: 60px;
  line-height: 1.1;
  letter-spacing: 0.12em;
  margin-bottom: 28px;
}
.card-text__bot {
  font-size: 20px;
  color: #807d7d;
}
.card-button {
  margin-top: 18px;
}

.jacob {
  margin-top: 170px;
}
.jacob-block {
  display: flex;
  gap: 90px;
  align-items: center;
}
.jacob-left__arrow {
  padding: 35px;
  background-color: #118DA8;
  width: 17%;
  border-radius: 120px;
}
.jacob-left__name {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.jacob-left__about {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  gap: 33px;
}

.jacob-name {
  font-size: 65px;
  line-height: 1;
  letter-spacing: 0.12em;
}

.jacob-left__about {
  font-size: 22px;
  color: #807d7d;
}/*# sourceMappingURL=main.css.map */