.jacob {
    margin-top: 170px;

    &-block {
        display: flex;
        gap: 90px;
        align-items: center;
    }

    &-left {
        &__arrow {
            padding: 35px;
            background-color: $btn-color;
            width: 17%;
            border-radius: 120px;
        }

        &__name {
            margin-top: 30px;
            display: flex;
            flex-direction: column;
            gap: 5px;
        }

        &__about {
            margin-top: 30px;
            display: flex;
            flex-direction: column;
            gap: 33px;
        }
    }
}

.jacob-name {
    font-size: 65px;
    line-height: 1;
    letter-spacing: 0.12em;
}

.jacob-left__about {
    font-size: 22px;
    color: #807d7d;
}